<template>
  <Layout title="My Products">
    <v-container>
      <ProductList />
    </v-container>
  </Layout>
</template>

<script lang="ts">
import Vue from "vue";
import Layout from "@/components/Layout.vue";
import ProductList from "@/components/ProductList.vue";

export default Vue.extend({
  name: "Home",

  components: {
    Layout,
    ProductList,
  },
});
</script>
