<template>
  <Layout title="My Inventory">
    <v-container>
      <InventoryTable />
    </v-container>
  </Layout>
</template>

<script lang="ts">
import Vue from "vue";
import Layout from "@/components/Layout.vue";
import InventoryTable from "@/components/InventoryTable.vue";

export default Vue.extend({
  name: "Inventory",

  components: {
    Layout,
    InventoryTable,
  },
});
</script>
