<template>
  <v-form
    class="sign-in"
    ref="form"
    v-model="valid"
    @submit.prevent="handleSubmit"
  >
    <v-card class="sign-in__card">
      <v-card-title>Sign In</v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field
              label="Email"
              focus
              outlined
              v-model="email"
              :rules="rules.email"
            ></v-text-field>
            <v-text-field
              label="Password"
              outlined
              v-model="password"
              type="password"
              :rules="rules.password"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="text-center">
            <v-btn color="primary" type="submit" :loading="isLoading"
              >Sign In</v-btn
            >
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<style scoped>
.sign-in {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sign-in__card {
  width: 100vw;
  height: 100vh;
  max-width: 24em;
  max-height: 20em;
}
</style>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class extends Vue {
  status: "idle" | "loading" | "error" | "success" = "idle";
  valid = false;
  email = "";
  password = "";

  rules = {
    email: [
      (v: string): string | boolean => !!v || "Email is required",
      (v: string): string | boolean =>
        /.+@.+\..+/.test(v) || "Email must be valid",
    ],
    password: [(v: string): string | boolean => !!v || "Password is required"],
  };

  get isLoading(): boolean {
    return this.status === "loading";
  }

  validate(): void {
    const form = this.$refs?.form as Vue & { validate: () => boolean };

    if (form) {
      form.validate();
    }
  }

  async handleSubmit(): Promise<void> {
    try {
      if (!this.valid) {
        this.validate();
        return;
      }

      this.status = "loading";

      await this.$store.dispatch("auth/signIn", {
        email: this.email.trim(),
        password: this.password,
      });

      this.$router.push("/");
    } catch (e) {
      let message = "An error occurred";

      switch (e.code) {
        case "NotAuthorizedException":
          message = "Wrong username/password";
          break;
        case "UserNotFoundException":
          message = "User not found";
          break;
      }

      this.$store.dispatch("createSnackbar", { message });
      this.status = "error";
    }
  }
}
</script>
