<template>
  <div class="container">
    <InfiniteLoading @infinite="handler">
      <div slot="no-more">No more results</div>
      <div slot="no-results">Nothing found</div>
      <div slot="spinner">
        <v-progress-circular
          color="primary"
          indeterminate
        ></v-progress-circular>
      </div>
      <div slot="error" slot-scope="{ trigger }">
        Something went wrong.
        <v-btn icon color="error" @click="trigger">
          <v-icon>mdi-refresh</v-icon>
        </v-btn>
      </div>
    </InfiniteLoading>
  </div>
</template>

<style scoped>
.container {
  padding: 2em 0;
}
</style>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import InfiniteLoading from "vue-infinite-loading";
import InfiniteLoadingState from "@/interfaces/InfiniteLoadingState";

@Component({
  components: {
    InfiniteLoading,
  },
})
export default class extends Vue {
  handler($state: InfiniteLoadingState): void {
    this.$emit("infinite", $state);
  }
}
</script>
