<template>
  <div class="inventory-table">
    <v-card>
      <v-card-title>
        Inventory
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Product ID or SKU"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="items"
        :loading="loading"
      ></v-data-table>
    </v-card>

    <div class="hide">
      <Infinite @infinite="loadInventory" />
    </div>
  </div>
</template>

<script lang="ts">
import { Inventory } from "@/API";
import InfiniteLoadingState from "@/interfaces/InfiniteLoadingState";
import { Component, Vue } from "vue-property-decorator";

@Component
export default class extends Vue {
  inventory: Inventory[] = [];
  nextToken: string | null | undefined;
  loading = false;
  search = "";

  headers = [
    { text: "Product ID", value: "productId" },
    { text: "Product Name", value: "productName" },
    { text: "SKU", value: "sku" },
    { text: "Quantity", value: "quantity" },
    { text: "Color", value: "color" },
    { text: "Size", value: "size" },
    { text: "Price", value: "price" },
    { text: "Cost", value: "cost" },
  ];

  get items(): any[] {
    const search = this.search;

    const items = this.inventory.map((item) => ({
      productId: String(item.product?.productId),
      productName: item.product?.productName,
      sku: item.sku,
      quantity: item.quantity,
      color: item.color,
      size: item.size,
      price: "$" + item.priceCents / 100,
      cost: "$" + item.costCents / 100,
    }));

    if (!search) {
      return items;
    }

    const pattern = new RegExp(search, "i");
    return items.filter(
      (item) => item.productId.match(pattern) || item.sku.match(pattern)
    );
  }

  async loadInventory($state: InfiniteLoadingState): Promise<void> {
    try {
      this.loading = true;

      const user = await this.$store.dispatch("auth/getUser");
      const { inventoryByOwner } = await this.$store.dispatch(
        "inventory/getInventoryByOwner",
        {
          owner: user.username,
          nextToken: this.nextToken,
          limit: 10000,
        }
      );

      this.inventory = [...this.inventory, ...inventoryByOwner.items];
      this.nextToken = inventoryByOwner.nextToken;

      if (!this.nextToken) {
        $state.complete();
      }

      $state.loaded();
    } catch (e) {
      console.error(e.message);
    } finally {
      this.loading = false;
    }
  }
}
</script>

<style scoped>
.hide {
  visibility: hidden;
  opacity: 0;
}
.search-field {
  width: 260px;
}
</style>
