<template>
  <v-app>
    <v-app-bar app>
      <v-app-bar-nav-icon @click="toggleDrawer"></v-app-bar-nav-icon>

      <v-toolbar-title>{{ title }}</v-toolbar-title>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" fixed temporary>
      <NavMenu />
    </v-navigation-drawer>

    <v-main class="grey lighten-2">
      <slot></slot>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import NavMenu from "@/components/NavMenu.vue";

@Component({
  components: {
    NavMenu,
  },
})
export default class extends Vue {
  @Prop()
  title?: string;

  drawer = false;

  toggleDrawer(): void {
    this.drawer = !this.drawer;
  }
}
</script>
