<template>
  <div class="nav-menu">
    <v-list>
      <v-list-item link v-for="link in links" :key="link.path" :to="link.path">
        <v-list-item-icon>
          <v-icon>{{ link.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ link.label }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-divider></v-divider>

    <v-list>
      <v-list-item link @click="signOut">
        <v-list-item-icon>
          <v-icon>mdi-logout</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Sign Out</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class extends Vue {
  status: "idle" | "loading" = "idle";

  links = [
    { icon: "mdi-store", label: "My Products", path: "/" },
    {
      icon: "mdi-clipboard-check-multiple",
      label: "My Inventory",
      path: "/inventory",
    },
  ];

  async signOut(): Promise<void> {
    this.status = "loading";
    await this.$store.dispatch("auth/signOut");
    this.status = "idle";
  }
}
</script>
