<template>
  <div class="product-list">
    <v-row>
      <v-col
        xs="12"
        sm="6"
        lg="4"
        xl="3"
        cols="12"
        v-for="product in products"
        :key="product.id"
      >
        <v-card>
          <v-card-title>{{ product.productName }}</v-card-title>

          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title>Style</v-list-item-title>
              <v-list-item-subtitle>{{ product.style }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title>Brand</v-list-item-title>
              <v-list-item-subtitle>{{ product.brand }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>

    <Infinite @infinite="loadProducts" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Product, ProductsByOwnerQuery } from "@/API";
import InfiniteLoadingState from "@/interfaces/InfiniteLoadingState";

@Component
export default class extends Vue {
  products: Product[] = [];
  nextToken: string | null | undefined;

  async loadProducts($state: InfiniteLoadingState): Promise<void> {
    try {
      const user = await this.$store.dispatch("auth/getUser");

      const { productsByOwner }: ProductsByOwnerQuery =
        await this.$store.dispatch("products/productsByOwner", {
          nextToken: this.nextToken,
          owner: user.username,
        });

      this.products = [
        ...this.products,
        ...(productsByOwner?.items as Product[]),
      ];
      this.nextToken = productsByOwner?.nextToken;

      if (!this.nextToken) {
        $state.complete();
      }

      $state.loaded();
    } catch (e) {
      console.error(e);
      $state.error();
    }
  }
}
</script>
