<template>
  <v-snackbar :timeout="snackbar.timeout || 5000" v-model="snackbar">
    {{ snackbarOptions.message }}

    <template v-if="snackbarOptions.action" v-slot:action="{ attrs }">
      <v-btn text v-bind="attrs" @click="callAction">
        {{ snackbarOptions.action.label }}
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script lang="ts">
import SnackbarOptions from "@/interfaces/SnackbarOptions";
import { Component, Vue } from "vue-property-decorator";

@Component
export default class extends Vue {
  callAction(): void {
    if (this.snackbarOptions?.action?.callback) {
      this.snackbarOptions.action.callback();
    }

    this.snackbar = false;
  }

  get snackbar(): boolean {
    return this.$store.state.snackbar;
  }

  set snackbar(v: boolean) {
    if (this.snackbarOptions.timeoutAction) {
      this.snackbarOptions.timeoutAction();
    }

    this.$store.commit("resetSnackbar");
  }

  get snackbarOptions(): SnackbarOptions {
    return this.$store.state.snackbarOptions;
  }
}
</script>
