<template>
  <v-app>
    <v-main>
      <router-view />
    </v-main>

    <Snackbar />
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import Snackbar from "@/components/Snackbar.vue";

export default Vue.extend({
  name: "App",

  components: {
    Snackbar,
  },
});
</script>
